body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h2 {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    width: 30%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

caption {
    font-size: .85em;
    margin-bottom: 10px;
    caption-side: bottom;
    display: table-caption;
    text-indent: initial;
    border-spacing: 2px;
    padding: 10px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

th,
td {
    padding: 10px;
    text-align: center;
}

thead th [colspan="4"] {
    padding: 15px;
}

thead th {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

thead th:nth-child(n+2) {
    background-color: #313131;
}

td:nth-child(1) {
    color: black;
}

th {
    background-color: grey;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: var(#f9f9f9);
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}