@media screen and (min-width: 500px) {
    /* Header styles */
    header {
      background-color: black;
      color: white;
    }
  
    /* Main element styles */
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }