@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

main {
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: auto;

}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Courgette", serif;
}



/* Responsive adjustments */
@media (max-width: 500px) {
    .herolabel {
        font-size: 1.2em;
        /* Smaller font size for mobile */
        padding: 8px 10px;
        /* Adjust padding */
    }
}

@media (max-width: 1000px) {
    .herolabel {
        font-size: 1.3em;
        /* Adjust font size for medium screens */
    }
}