body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #fae1dfff;
    color: #0d1f2dff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: #546a7bff;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    max-width: 100%;
    justify-content: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    padding: 0px;
    text-align: center;
}

nav a:hover {
    text-decoration: solid;
    color: #4cae4c;
    padding-top: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

footer {
    background: #546a7bff;
    color: #0d1f2dff;
    text-align: center;
    padding: 10px;
    max-width: 100%;
    margin: 20px;

}

#content {
    color: blue;
    text-align: center;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #546a7bff;
}

.overflow {
    overflow: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Pseudo-element Example */
.menu li::before {
    content: '';
    margin-right: 10px;

}

/* Grid rows*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 70px 200px;
    gap: 10px;
    background-color: #fae1dfff;
    padding: 10px;
}

.grid-container>div {
    background-color: #546a7bff;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}