/* Large Screen Styles */
@media (min-width: 1024px) {
    header {
        padding: 10px 80px;
        /* Adjusted for larger screens */
    }

    .logo {
        font-size: 28px;
        /* Increased logo font size */
    }

    .menu-toggle {
        display: none;
        /* Hide menu toggle on larger screens */
    }

    .navMenu {
        display: flex;
        /* Use flex layout for nav menu */
        align-items: center;
        /* Center items vertically */
        justify-content: space-between;
        /* Space between items */
    }

    .nav-links {
        display: flex;
        /* Flex layout for nav links */
        gap: 20px;
        /* Space between links */
    }

    .nav-links li {
        padding: 15px 20px;
        /* Increased padding for nav links */
    }

    .nav-links a {
        font-size: 18px;
        /* Set font size for links */
        text-decoration: none;
        /* Remove underline from links */
        color: inherit;
        /* Inherit color from parent */
        transition: color 0.3s;
        /* Smooth transition for color change */
    }

    main {
        padding: 40px;
        /* Add padding to main content */
    }

    /* Div Styles for larger screens */
    #welcome,
    #services,
    #events,
    #contact {
        padding: 20px;
        /* Consistent padding for divs */
    }

    footer {
        padding: 30px;
        /* Increase padding for footer */
    }

    footer p {
        font-size: 16px;
        /* Set font size for footer paragraphs */
    }

    /* Ensure hero section retains full width styling */
    .hero {
        margin: 20px auto;
        /* Maintain margin for hero section */
    }
}


@media (max-width: 1500px) {
    .herolabel p {
        font-size: 1.7rem;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
    }
}

/* CSS for the popup banner */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.648); 
  z-index: 999; 
}

/* CSS for the popup banner */
.popupBanner {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  color: rgb(15, 15, 15);
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  z-index: 1000;
}

.popupBanner p {
  margin: 40px;
  font-size: 16px;
}

/* Close button */
.closePopup {
  color: #000;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.closePopup:hover,
.closePopup:focus {
  color: red;
  cursor: pointer;
}


