* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header, footer, nav { 
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	margin: 0;
}
h1 {
	text-align: center;
}
.parent {
	margin: 1rem 2vw;
}

.parent section {
	border: 1px solid #415541;
	background-color: #e9f5e9;
	border-radius: 10px;
	overflow: hidden;
	margin: 1rem 0;
}
.parent span {
	background-color: #415541;
	color: #fff;
	display: block;
	text-align: center;
	padding: .75rem 0;
}
.parent p {
	padding: 10px;
}
nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 100%;
}
nav a:hover {
	text-decoration:overline;
	background-color: #555;
}
.active {
	color: yellow;
}
nav ul {
	list-style: none; /* Remove default bullet points */
	text-decoration: none;
  }
  
  nav ul li {
	display: inline-block; /* Display navigation items horizontally */
  }
 
nav ul li a {
	text-decoration: none;
	padding: 10px;
	color: white;
	background-color:#333;
  }