* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    padding: 20px;
}

header,
nav,
main,
footer {
    max-width: 800px;
    /* margin: 0 auto; */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Arial", "Helvetica", sans-serif;
}

nav li {
    display: inline;
    margin: 0 20px;
    padding: 8px 15px;
    color: #000;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #007BFF;
    background-color: greenyellow;
    padding: 5px;
}

li {
    list-style-type: none;
    padding: 5px;
    display: block;
    color: rgb(55, 27, 131);
}

h2 {
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.card {
    background-color: #e7f1ff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: 300px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    margin: auto;
    border-radius: 5px;
    max-width: 765px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    border: 2px solid black;
    object-fit: cover;
}

.map-container {
    margin: 10px 0;
    text-align: center;
    overflow: hidden;
}

.map-container iframe {
    padding: 10px;
    width: 57%;
    border: none;
    height: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    max-width: 775px;
    margin: auto;
    border-radius: 5px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
    text-align: center;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Pseudo-element Example */
.menu li::before {
    content: '🔹';
    margin-right: 10px;
}