/* styles.css */

/* Global Styles */

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #FF6347;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Header */

header {
    background-color: #4169E1;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Sections */

section {
    margin-bottom: 20px;
}

h2 {
    color: #FF6347;
}

/* Wireframe */

img {
    max-width: 100%;
}

/* Footer */

footer {
    background-color: #4169E1;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}