@media only screen and (min-width: 780rem) {
  nav ul {
    display: flex;
    justify-content: center;
  }
  .parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }

  .parent section {
    box-shadow: 1px 1px 1px black;
  }
}